<h1>Repository: <%= File.basename(@repository) %></h1>
<ul>
  <% @files.each do |file| %>
    <li>
      <%= link_to file.gsub(@repository + '/', ''), project_git_sync_view_file_path(@project, id: @project.id, file_path: file) %>
    </li>
  <% end %>
</ul>
<%= link_to 'Back to repositories', project_git_sync_index_path(@project) %>
